/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monse', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  @font-face {
    font-family: "TAN-NIMBUS";
    src: url("../tipografia/TAN-NIMBUS/TAN-NIMBUS.ttf");
  }

  @font-face {
    font-family: "Monse";
    src: url("../tipografia/Montserrat/static/Montserrat-Medium.ttf");
  }

  .txtanima{
    background-image: linear-gradient(to left, #395144, #AA8B56);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: BgGradient 5s infinite alternate;
}

  .txtanima h1{
    font-family: "TAN-NIMBUS", sans-serif;
    line-height: 1.5;
    letter-spacing: 10px;
    text-align: center;
    font-size: 65px;
    display: block;
    margin: auto;
    margin-top: 45px;
    
  }

  .anima2{
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
    
  }

  @keyframes text-slide-left-to-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Navigation */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: #fff;
  }

  .anima{
    display: flex;
    background-image: linear-gradient(to left, #395144, #AA8B56);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
  }

  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  nav h1 {
    font-size: 24px;
  }
  
  nav ul {
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f5a623;
  }
  
  /* Main Content */
  main {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px;
  }

  h1{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 70px;
    font-size: 65px;
    color: #395144;
  }

  .expositores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .cuadro {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .cuadro img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 15px;
  }
  
  .cuadro h3 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .cuadro p {
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 8px;
    padding: 10px;
    text-align: left;
  }
  
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  
  /* Footer */
  footer {
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .columna {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .columna h4 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
  .columna p {
    font-size: 1em;
    line-height: 1.2;
  }
  
  footer ul {
    list-style: none;
    display: flex;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #000;
    text-decoration: none;
  }
  