* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  @keyframes text-slide-left-to-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Estilos para el formulario */
  
  input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 10rem;
  }
  
  input[type="button"] {
    width: auto !important;
    display: inline-block !important;
  }

  input[type="button"],
  button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 14px 28px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 40px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: #fff;
  }

  .anima{
    display: flex;
    background-image: linear-gradient(to left, rgba(0, 126, 233, 0.5), #000);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
  }

  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  nav h1 {
    font-size: 24px;
  }
  
  nav ul {
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
    list-style: none;
    display: flex;
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f5a623;
  }

  footer {
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .columna {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .columna h4 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
  .columna p {
    font-size: 1em;
    line-height: 1.2;
  }
  
  footer ul {
    list-style: none;
    display: flex;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #000;
    text-decoration: none;
  }