* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monse', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  @font-face {
    font-family: "Monse";
    src: url("../tipografia/Montserrat/static/Montserrat-Medium.ttf");
  }

  .txtanima{
    background-image: linear-gradient(to left, #395144, #AA8B56);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: BgGradient 5s infinite alternate;
}

  @keyframes text-slide-left-to-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  /* Navigation */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: #fff;
  }

  .izq-der{
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
  }

  .anima{
    display: flex;
    background-image: linear-gradient(to left, #395144, #AA8B56);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
  }


  nav h1 {
    font-size: 24px;
  }
  
  nav ul {
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f5a623;
  }

  /**/

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #395144;
}

.exposition {
    background-color: #f3efd8;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
}

.exposition h2 {
    margin-top: 0;
    color: #4E6C50;
}

.exposition p {
    margin: 10px 0;
}

.exposition-time {
    font-weight: bold;
    margin-bottom: 10px;
}

.exposition-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding-top: 15px;
  }

  footer {
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .columna {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .columna h4 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
  .columna p {
    font-size: 1em;
    line-height: 1.2;
  }
  
  footer ul {
    list-style: none;
    display: flex;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #000;
    text-decoration: none;
  }