body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.exposition {
    background-color: #f2f2f2;
    margin-bottom: 30px;
    padding: 20px;
}

.exposition h2 {
    margin-top: 0;
}

.exposition p {
    margin: 10px 0;
}

.exposition-time {
    font-weight: bold;
    margin-bottom: 10px;
}

.exposition-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}