* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

article {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
}

article h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
}


article p {
  margin-bottom: 0;
}

#entradas {
  list-style: none;
  text-decoration: none;
}

#entradas li {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}

#entradas li h3 {
  margin-bottom: 0.5rem;
}

#entradas li p {
  margin-bottom: 0;
}

li a{
  text-decoration: none;
  color: black;
}

header a{
  text-decoration: none;
  color: #fff;
}


footer {
  margin-top: 30px;
  background-color: #eee;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

footer p {
  margin: 0;
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #000;
}

