body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    font-size: medium;
    display: block;
    width: 60%;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 2px 20px 20px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin: auto;
    line-height: 2.0;
  }
  
  footer {
    margin-top: 30px;
    background-color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #666;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #000;
  }