body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
  

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: fixed;
    width: 100%;
    z-index: 1000;
}

h1 {
	margin: 0;
	font-size: 2em;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.clase {
	margin-bottom: 30px;
	padding: 20px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
}

h2 {
	margin-top: 0;
	font-size: 1.5em;
	color: #333;
}

p {
	margin: 0;
	line-height: 2;
}

.text-animation {
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
  }
  
  @keyframes text-slide-left-to-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }