/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  @keyframes text-slide-left-to-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  

  @font-face {
    font-family: "TAN-NIMBUS";
    src: url("../tipografia/TAN-NIMBUS/TAN-NIMBUS.ttf");
  }

  .txtanima{
      background-image: linear-gradient(to left, rgba(0, 126, 233, 0.5), #000);
      -webkit-background-clip: text;
      color: transparent;
      background-size: 400%;
      animation: BgGradient 5s infinite alternate;
  }

  .txtanima h1{
    font-family: "TAN-NIMBUS", sans-serif;
    line-height: 1.5;
    letter-spacing: 10px;
    text-align: left;
    font-size: 130px;
    display: block;
    margin: auto;
    margin-top: 45px;
    
  }

  

  .logo{
    display: block;
    margin: auto;
    width: 1000px;
    margin-top: 45px;
    margin-bottom: 100px;
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
  }

  
  /* Navigation */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    color: #fff;
  }

  .izq-der{
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
  }

  .anima{
    display: flex;
    background-image: linear-gradient(to left, rgba(0, 126, 233, 0.5), #000);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
  }


  nav h1 {
    font-size: 24px;
  }
  
  nav ul {
    animation: text-slide-left-to-right 2s forwards;
    direction: ltr;
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #f5a623;
  }
  
  /* Main Content */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }

  .cuadro-texto{
    width: 1000px;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 2.2;
  }

  .cuadro-texto h2{
    text-align: center;
    font-size: 50px;
  }

  .expositores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cuadroE {
    width: 500px;
    margin: 20px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .cuadroE img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cuadroE h2 {
    margin: 15px 0;
    font-size: 1.75em;
  }
  
  .cuadroE p {
    font-size: 1em;
    line-height: 1.5;
    padding-bottom: 10px;
    padding: 10px;
  }

  .conferencia {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 600px;
    margin: 20px;
    text-align: center;
  }
  
  .conferencia img {
    width: 100%;
    height: auto;
  }
  
  .conferencia h3 {
    margin: 10px 0;
    font-size: 1.8em;
  }
  
  .conferencia p {
    font-size: 1.1em;
    line-height: 1.5;
    padding-bottom: 8px;
  }
  
  .cuadro {
    width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .cuadro img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cuadro h3 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .cuadro p {
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 8px;
  }
  
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  article:hover {
    background-color: #fff;
  }
  
  article img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
  }
  
  article p {
    display: none;
    margin-bottom: 20px;
  }
  
  article.active p {
    display: block;
  }
  
  /* Map */
  #map {
    width: 100%;
    height: 600px;
    padding: 80px;
  }
  
  /* Footer */
  footer {
    background-color: #f5f5f5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .columna {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .columna h4 {
    margin: 5px 0;
    font-size: 1.2em;
  }
  
  .columna p {
    font-size: 1em;
    line-height: 1.2;
  }
  
  footer ul {
    list-style: none;
    display: flex;
  }
  
  footer ul li {
    margin-right: 20px;
  }
  
  footer ul li a {
    color: #000;
    text-decoration: none;
  }
  