*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    padding: 50px;
}
table{
    width: 1000px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 4px 8px #00000069;
    margin: 0 auto;
    
}
thead, tfoot{
    height: 55px;
    background-color: crimson;
    color: whitesmoke;
    
}
thead th{
    width: 25%;
    
}
tbody tr td{
    border-bottom: 1px solid dimgray;
    border-right: 1px solid dimgray;

}
tfoot td{
    padding: 5px;
}

.foto{
    margin: 25px;
}

.foto_viaje{
    margin: 25px;
    border: 10px solid; color: crimson;
}

.texto_tabla{
    text-align: center;
}