/* Estilos para la bitácora */
@font-face {
  font-family: 'Monse';
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.division{
  border-bottom: 2px solid #0D0D0D;
  padding-bottom: 50px;
}

.division li{
  text-align: left;
  line-height: 2.0;
}

body{
  background-color: #8C8C8C;
}

.cuerpo {
    font-family: 'Monse';
    display: block;
    width: 70%;
    margin: auto;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #BFBFBF;
    box-shadow: 2px 20px 20px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
    color: #0D0D0D;
  }

  header {
    background-color: #262626;
    color: #BFBFBF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Monse';
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #8C8C8C;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

nav a:hover{
  border-bottom: 2px solid #8C8C8C;
	padding-bottom: 5px;;
}

.tituloDisplay{
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
}

  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 25px;
  }

  h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .contenedor {
    text-align: center;
  }
  
  img {
    width: 50%;
    padding: 10px;
    padding-bottom: 20px;
  }

  .izq{
    text-align: left;
  }

  #rojo{
    color: rgb(134, 5, 5);
    font-weight: bold;
  }
  