#image{
    text-align: center;
    margin: 50px;
}
.person {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .person img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    
  }
  
  .person .info {
    flex: 1;
    text-align: left;
  }

  .footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(197, 197, 196, 0.838);
}

  .footer .info{
    text-align: center;
    margin: 10px;
    flex: 1;
  }